.network
  position: absolute
  top: -57px
  left: 0
  right: 0
  svg
    .overlay
      fill: none
      pointer-events: all
    .node
      fill: #666
      stroke: white
      stroke-width: 1
      stroke-opacity: 1
      &.discovered
        stroke: #08c
        stroke-opacity: .5
      &.expanded
        stroke: #08c
        stroke-opacity: 1
      &.verified
        stroke: #27ae60
      &.protected
        stroke: #d35400
      &.loaded
        stroke: #7f8c8d

    .link
      stroke: #08c
      stroke-width: .6
      stroke-opacity: .3
      &.bidirectional
        stroke-opacity: .6
        
