{{ define "status" }}
%ul.nav.navbar-nav.navbar-right<>
  %li<>
    {{ if .Session.User }}
    %a{href: "{{ url \"user:logout\" }}", "data-pjax" => "false", title: "{{ .Session.User.Name }}"}<>
      %img.rounded{src: "https://avatars.githubusercontent.com/u/{{ .Session.User.ID }}", width: 20, height: 20, alt: "{{ .Session.User.Name }}"}
    {{ else }}
    %a.js-ajax{href: "#", "data-ajax-get" => "/user/login", title: "{{ .GetText \"Sign in with Github\" }}"}<>
      {{ .GetText "Sign in with" }}
      %i.fa.fa-fw.fa-lg.fa-github.sp-left<>
    {{ end }}
{{ end }}
